@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: nue;
    src: url(./Fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: nue;
    font-weight: 100;
    src: url(./Fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: nue;
    font-weight: 200;
    src: url(./Fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: nue;
    font-weight: 300;
    src: url(./Fonts/NeueHaasDisplayThin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nue";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0 2vw;
    background-color: #EFEAE3;
    position: relative;
}

nav {
    padding: 2.2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

#page1 nav img {
    height: 6vw;
    width: 5vw;
}

nav #menu{
    display: none;
}

#nav-button {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-button h4 {
    padding: 0.8vw 1.6vw;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 1.3vw;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-button h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-button h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-button h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

#nav-button h4:hover a {
    color: #EFEAE3;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 30vw;
    font-size: 2vw;
    line-height: 2.2vw;
    margin-bottom: 0.5vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 9vw;
    letter-spacing: -0.5vw;
    margin-bottom: 2vw;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 5vw;
    width: 100%;
}

#hero-shape1 {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 73vh;
}

#hero1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, rgba(74, 3, 181, 0.66), rgba(0, 26, 255, 0.915));
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 25%;
    position: absolute;
    filter: blur(20px);
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(rgba(74, 3, 181, 0.727), rgba(0, 38, 255, 0.805));
    border-radius: 50%;
    position: absolute;
    filter: blur(10px);
    animation-name: anime2;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero3 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top left, rgba(74, 3, 181, 0.66), rgba(0, 26, 255, 0.915));
    border-radius: 50%;
    position: absolute;
    filter: blur(15px);
    animation-name: anime1;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(10%, -5%);
    }

    to {
        transform: translate(-12%, -8%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(50%, -18%);
    }

    to {
        transform: translate(50%, -2%);
    }
}

#hero-shape2 {
    position: absolute;
    width: 36vw;
    height: 26vw;
    left: 0;
    bottom: 71vw;
}

#zero1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, rgba(74, 3, 181, 0.455), rgba(0, 26, 255, 0.812));
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
}

#zero2 {
    height: 25vw;
    width: 25vw;
    background: linear-gradient(rgba(3, 77, 181, 0.49), rgba(0, 81, 255, 0.571));
    border-radius: 50%;
    border-top-left-radius: 40%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#zero3 {
    height: 25vw;
    width: 25vw;
    background: linear-gradient(rgba(3, 77, 181, 0.49), rgba(0, 81, 255, 0.571));
    border-radius: 50%;
    border-top-left-radius: 40%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes anime3 {
    from {
        transform: translate(40%, 20px);
    }

    to {
        transform: translate(-12%, -4%);
    }
}

@keyframes anime4 {
    from {
        transform: translate(45%, -10%);
    }

    to {
        transform: translate(-20%, 2%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 8vw;
    display: inline-block;
}

#gola {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    display: inline-block;
    margin: 0.8vw 1.8vw;
    background: linear-gradient(rgba(74, 3, 181, 0.727), rgba(0, 38, 255, 0.805));
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw;
    position: relative;
}

#page2-bottom h1 {
    font-size: 4.5vw;
    width: 55%;
    line-height: 4.5vw;
    z-index: 9;
}

#bottom-part2 {
    width: 20%;
    top: 46%;
    right: 10%;
    position: absolute;
}

#bottom-part2 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.3vw;
}

#page2 #circle {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, rgba(74, 3, 181, 0.832), rgba(16, 72, 255, 0.873));
    top: 50%;
    left: 18%;
    filter: blur(20px);
    animation-name: anime5;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes anime5 {
    from {
        filter: blur(40px);
        transform: translate(10%, -10%) skew(3deg);
    }

    to {
        filter: blur(20px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

#page3 #up-text {
    padding-left: 3vw;
    padding-bottom: 6vw;
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

#page3 #up-text p {
    font-weight: 200;
    font-size: 1.3vw;
}

#page3 #up-text #dot {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    background: linear-gradient(rgba(74, 3, 181, 0.727), rgba(0, 38, 255, 0.805));
}

.elem {
    height: 7vw;
    width: 100%;
    border-bottom: 1px solid #0000003c;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3vw;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(74, 3, 181, 0.727), rgba(0, 38, 255, 0.805));
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-images {
    height: 28vw;
    width: 24vw;
    border-radius: 20px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
}

#page3-button {
    margin: 3vw 2vw;
    height: 3vw;
    width: 12vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0000003c;
    border-radius: 50px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#page3-button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#page3-button:hover::after {
    bottom: 0;
    border-radius: 0;
}

#page3-button h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-button i {
    font-size: 1.3vw;
}

#page3-button a {
    text-decoration: none;
    color: #000000bb;
    font-size: 1.3vw;
}

#page3-button:hover h4 a {
    color: #EFEAE3;
    z-index: 9;
    position: relative;
}

#page3-button:hover i {
    color: #EFEAE3;
    z-index: 9;
    position: relative;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

#black-box {
    border-radius: 30px;
    height: 80vh;
    width: 90%;
    margin: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

#left-2 {
    background-color: black;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 8vw;
}

#right-2 {
    width: 50%;
    height: 100%;
}

#right-2 video {
    height: 100%;
    min-width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
}

.page4-element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.page4-element h1 {
    color: #807f7fd5;
    font-size: 4vw;
}


.page4-element .line {
    height: 4.2vw;
    width: 0.35vw;
    background: linear-gradient(rgba(118, 32, 248, 0.899), rgba(42, 116, 252, 0.938));
}

#left-2 p {
    color: #d6cece;
    width: 60%;
    padding-top: 6vw;
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.6vw;
}

#pe1:hover h1 {
    color: #EFEAE3;
    scale: 1.05;
}

#pe1:hover .line {
    height: 4.7vw;
    background: linear-gradient(#f75d0b, #f4350a);
}

#pe2:hover h1 {
    color: #EFEAE3;
    scale: 1.05;
}

#pe2:hover .line {
    height: 4.7vw;
    background: linear-gradient(#f75d0b, #f4350a);
}

#pe3:hover h1 {
    color: #EFEAE3;
    scale: 1.05;
}

#pe3:hover .line {
    height: 4.7vw;
    background: linear-gradient(#f75d0b, #f4350a);
}

#page5 {
    height: 55vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0 2vw 12vw 2vw;
}

#page5 #up-text {
    padding-left: 3vw;
    padding-bottom: 6vw;
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

#page5 #up-text p {
    font-weight: 200;
    font-size: 1.3vw;
}

#page5 #up-text #dot {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    background: linear-gradient(rgba(74, 3, 181, 0.727), rgba(0, 38, 255, 0.805));
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0 0 5vw 0;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #0000003c;
    padding: 0 2vw;
}

.swiper-slide p {
    font-weight: 200;
    font-size: 1.1vw;
    margin: 1vw 0;
}

.swiper-slide img {
    height: 6vw;
    width: 6vw;
}

#page6 {
    height: 110vh;
    width: 100%;
}

#footer {
    height: 130vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: black;
    color: #EFEAE3;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 3vw;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    margin-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

#footer-bottom {
    border-top: 0.7px solid #999797;
    height: 7vh;
    width: 100%;
}

#fot-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4vw;
}

#fot-left h2 {
    color: #EFEAE3;
    font-size: 2.2vw;
    padding-left: 2vw;
}

#fot-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#fot-right p {
    color: #EFEAE3;
    font-size: 1.2vw;
    padding-right: 2vw;
    width: 60%;
    font-weight: 200;
    font-size: 1.5vw;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom h3 {
    font-weight: 200;
    color: #EFEAE3;
    font-size: 1.09vw;
}

#footer-bottom h3 i {
    color: #EFEAE3;
    font-size: 1.09vw;
    margin-right: 0.5vw;
}

#footer-bottom h3 a {
    text-decoration: none;
    color: #EFEAE3;
}

#footer-shape1 {
    position: absolute;
    width: 80vw;
    height: 60vw;
    right: -10%;
    bottom: 50vh;
    filter: blur(50px);
    background: linear-gradient(to right, rgba(74, 3, 181, 0.832), rgba(29, 104, 255, 0.954));
    border-bottom-left-radius: 75%;
    animation-name: footer1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#footer-shape2 {
    position: absolute;
    width: 85vw;
    height: 80vw;
    left: -10%;
    bottom: 58vh;
    filter: blur(50px);
    background: linear-gradient(to left, rgba(74, 3, 181, 0.89), rgba(29, 104, 255, 0.954));
    border-top-right-radius: 20%;
    border-bottom-right-radius: 75%;
    animation-name: footer2;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes footer1 {
    from {
        filter: blur(50px);
        transform: translate(0%, 5%) skew(5deg);
    }

    to {
        filter: blur(70px);
        transform: translate(10%, 20%) skew(20deg);
    }
}

@keyframes footer2 {
    from {
        filter: blur(50px);
        transform: translate(10%, -5%) skew(-5deg);
    }

    to {
        filter: blur(70px);
        transform: translate(-13%, 8%) skew(5deg);
    }
}

#full-scr {
    height: 100vh;
    width: 100vw;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -110%;
    transition: all ease 0.6s;
}

#menu-exp {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all ease 0.8s;
}

#menu-exp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 15vw 4vw 0 0;
    line-height: 15vw;
}

#menu-exp h1{
    color: black;
    font-size: 15vw;
    
}

@media (max-width: 600px){
    #main{
        overflow: hidden; 
    }

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0vw;
        background-color: #EFEAE3;
        position: relative;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

    }

    #page1 nav img {
        height: 10vw;
        width: 8vw;
        transition: all ease 0.2s;
    }

    nav #menu{
        display: block;
        padding: 2vw 4vw 2vw 4vw;
        border: 1px solid #0000003c;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2vw;
        
    }
    nav #menu h3 {
        display: block;
        font-size: 4vw;
        font-weight: 200;
    }

    nav #menu i{
        display: block;
        font-size: 4vw;
    }

    #nav-button {
        display: none;
    }

    #center {
        height: 62vh;
        width: 100vw;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column-reverse;
        border-bottom: 1px solid #0000003c;
        padding: 3vw 4vw 6vw 4vw;
    }

    #left h3 {
        width: 70%;
        font-size: 4.2vw;
        line-height: 4vw;
        z-index: 10;
    }

    #center h1 {
        font-size: 15vw;
        text-align: right;
        line-height: 14vw;
        letter-spacing: -0.1vw;
    }

    #page1 video {
        position: relative;
        border-radius: 25px;
        margin-top: 5vw;
        width: 90%;
        height: 55vh;
        margin-left: 5%;
        object-fit: cover;
        object-position: center;
        z-index: 9;
    }

    #hero-shape1 {
        position: absolute;
        width: 72vw;
        height: 52vw;
        right: -5%;
        top: 73vh;
    }

    #hero1 {
        height: 100%;
        width: 100%;
        background: linear-gradient(to top right, rgba(91, 14, 208, 0.689), rgba(0, 26, 255, 0.824));
    }

    #hero2 {
        height: 50vw;
        width: 50vw;
        background: linear-gradient(rgba(90, 7, 214, 0.713), rgba(0, 38, 255, 0.805));
    }

    #hero3 {
        height: 50vw;
        width: 50vw;
        background: linear-gradient(to top left, rgba(74, 3, 181, 0.66), rgba(15, 37, 237, 0.766));
    }

    #hero-shape2 {
        position: absolute;
        width: 56vw;
        height: 42vw;
        left: -5%;
        top: 30vh;
    }

    #zero1 {
        height: 100%;
        width: 100%;
        background: linear-gradient(to top right, rgba(74, 3, 181, 0.455), rgba(0, 26, 255, 0.812));
    }

    #zero2 {
        height: 35vw;
        width: 35vw;
        background: linear-gradient(rgba(3, 77, 181, 0.49), rgba(0, 81, 255, 0.571));
    }

    #zero3 {
        height: 35vw;
        width: 35vw;
        background: linear-gradient(rgba(3, 77, 181, 0.49), rgba(0, 81, 255, 0.571));
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0 10vw 0;
        position: relative;
    }

    #moving-text h1 {
        font-size: 12vw;
        display: inline-block;
    }
    
    #gola {
        height: 7vw;
        width: 7vw;
        margin: 0.8vw 1.8vw;
    }
    
    #page2-bottom {
        height: 80vh;
        width: 100%;
        padding-top: 10vw;
        background-color: #EFEAE3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
    }
    
    #page2-bottom h1 {
        font-size: 8vw;
        width: 95%;
        line-height: 7vw;
        z-index: 9;
    }
    
    #bottom-part2 {
        width: 95%;
        padding: 0 13.5vw;
        position: absolute;
        z-index: 9;
        padding-top: 10vw;
    }
    
    #bottom-part2 img {
        width: 40vw;
        height: 42vw;
        border-radius: 10px;
    }
    
    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        margin-bottom: 10vw;
        font-size: 3.8vw;
    }
    
    #page2 #circle {
        height: 85vw;
        width: 85vw;
        position: absolute;
        right: -5%;
        top: 35%;
        background: linear-gradient(to top right, rgba(74, 3, 181, 0.945), rgba(7, 62, 244, 0.962));
    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 4vw 0;
    }
    
    #page3 #up-text {
        padding-left: 3vw;
        padding-bottom: 6vw;
        padding-top: 30vw;
    }
    
    #page3 #up-text p {
        font-size: 3vw;
    }
    
    #page3 #up-text #dot {
        height: 2.2vw;
        width: 2.2vw;
    }
    #page6{
        height: 100vh;
        width: 100%;
    }

    #footer {
        height: 120vh;
        width: 100vw;
        position: fixed;
        z-index: 9;
        background-color: black;
        color: #EFEAE3;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 3vw;
    }


}